body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "JetBrains Mono", sans-serif;
    background-color: #222222;
    padding: 20px;
    color: #ffffff;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 150px;
}


header h1 {
    color: mediumspringgreen;
    /* text-shadow:
          0 0 10px rgba(0, 255, 162, 0.4);
        animation: glow 2s ease-in-out infinite;*/

}

header button {
    max-width: 200px;
    width: auto;
    background-color: mediumspringgreen;
    transition: background-color 0.3s;
    border: inherit;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 10px;
}

header button:hover {
    background-color: rgb(255, 156, 242);
}

.post {
    max-width: 800px;
    max-height: 350px;
    width: 100%;
    overflow: scroll;
    background: linear-gradient(75deg , #292929 35%, mediumspringgreen 1000%) fixed;
    border: 0 solid mediumspringgreen;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
    color: mediumspringgreen;
}

.post p {
    margin: 10px 0;
}

/* FORM STYLES */

form {
    max-width: 800px;
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-element {
    width: 47.5%;
}

.form-element input[type=text] {
    width: 100%;
}

label {
    color: mediumspringgreen;
}

input[type=text] {
    border: 1px mediumspringgreen solid;
    border-radius: 10px;
    background-color: #292929;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1rem;
    color: white;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

textarea#content {
    width: 100%;
    height: 20vh;
    resize: vertical;
    border: 1px mediumspringgreen solid;
    border-radius: 10px;
    background-color: #292929;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1rem;
    color: white;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: mediumspringgreen;
    border: inherit;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: normal;
    padding: 10px;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: rgb(255, 156, 242);
    transition: background-color 0.3s;
}

/**/