<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASKFEED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add,delete,edit,thumb_up" />
</head>
<body>
    <header>
        <h1>FLASK<span id="logo-split">FEED</span></h1>
        <div class="nav">
            <a href="{{ url_for('add') }}"><button><span class="material-symbols-outlined">add</span></button></a>
        </div>
    </header>
    {% for post in posts %}
    <div class="post">
        <div class="post-header">
            <h2>{{ post['title'] }}</h2>
            <div class="post-ui">
                <form action="{{ url_for('like', post_id=post['id']) }}" method="post">
                    <button>{{ post['likes'] }}</button>
                    <button type="submit"><span class="material-symbols-outlined">thumb_up</span></button>
                </form>
                <form action="{{ url_for('update', post_id=post['id']) }}" method="get">
                    <button type="submit"><span class="material-symbols-outlined">edit</span></button>
                </form>
                <form action="{{ url_for('delete', post_id=post['id']) }}" method="get">
                    <button type="submit" id="trash-btn"><span class="material-symbols-outlined">delete</span></button>
                </form>
            </div>
        </div>
        <div class="post-content">
            <p><em>Written by {{ post['author'] }}</em></p>
            <p>{{ post['content'] }}</p>
        </div>
    </div>
    {% endfor %}
</body>
</html>
